
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fut-muse-client-primary: mat.define-palette(mat.$indigo-palette);
$fut-muse-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fut-muse-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fut-muse-client-theme: mat.define-light-theme((
    color: (
        primary: $fut-muse-client-primary,
        accent: $fut-muse-client-accent,
        warn: $fut-muse-client-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fut-muse-client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body { 
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f4f4f4;
}

// snackbar
snack-bar-container {
    &.success {
        background: #00c853;
    }
    &.error {
        background: #f44336; 
    }
    &.warn {
        background: #f37b1d;
    }
    span {
        color: #fff;
    }
    mat-icon {
        margin-right: 8px;
    }
}

// animations
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main-container,
.home-container,
.player-container,
.profile-container,
.search-container {
    animation: fade-in 0.5s;
}