.search {
    mat-form-field {
        width: 100%;
        input {
            width: 100%;
            border: none;
            outline: none;
            &:disabled {
                background: none;
            }
        }
    }
}
::ng-deep .mat-autocomplete-panel {
    max-height: 100% !important;
    a {
        text-decoration: none;
        color: inherit;
    }
    .extended {
        font-weight: bold;
    }
    mat-option.player-option {
        padding: 4px 16px;
    }
    .player-option .mat-option-text,
    .player-option-wrapper,
    .player,
    .status,
    .club-name {
        height: 100%;
    }
    .player-option-wrapper,
    .player,
    .status > div,
    .club-name {
        display: flex;
        align-items: center;
    }
    .player-option-wrapper {
        justify-content: space-between;
        .player {
            .status {
                display: flex;
                flex-direction: column;
                > div {
                    height: 50%;
                }
            }
            .club-name,
            .career-status {
                color: #757575;
                font-size: 0.85rem;
            }
        }
    }
}