mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    zoom: 0.5;
}
.header {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    font-weight: bold;
    div {
        line-height: normal;
        &:first-child {
            margin-right: 12px;
        }
        &:last-child {
            font-size: 32px;
            color: #9e9e9e;
        }
    }
}
[hidden] {
    display: none !important;
}
mat-card {
    padding: 1px;
    animation: fade-in 0.5s;
}
::ng-deep .mat-card-content {
    padding: 0 16px;
}
mat-progress-bar {
    position: absolute;
    height: 6px;
    border-radius: 4px 4px 0 0;
    z-index: 2;
}
.blur-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
table {
    table-layout: fixed;
    width: 100%;
}
.mat-header-cell {
    &.mat-column-name {
        width: 30%;
    }
    &.mat-column-nation {
        width: 25%;
    }
    &.mat-column-status {
        width: 15%;
    }
    &.mat-column-club {
        width: 30%;
    }
}
.mat-row {
    .mat-cell {
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }
        &:first-child {
            padding: 0 24px;
        }
        &:not(:first-child) {
            padding-right: 24px;
        }
        .text {
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.mat-column-club {
            mat-icon {
                margin-right: 16px;
                width: 36px;
                height: 36px;
                font-size: 36px;
            }
        }
    }
    &:hover {
        background: #eee;
        transition: background 0.5s;
    }
    mat-chip {
        cursor: pointer;
        background: #fbc02d;
        color: #fff;
        min-height: 26px;
        &[disabled] {
            opacity: 1;
        }
        &.active {
            background: #00c853;
        }
        &.retired {
            background: #1976d2;
        }
        &.deceased {
            background: var(--base-color);
        }
    }
}